name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/meow-content:latest

  deploy:
      needs: build-and-push # build-and-push 작업이 성공해야 실행됨
      runs-on: ubuntu-latest
      
      steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 기존 컨테이너 중지 및 삭제
            docker stop meow-content || true
            docker rm meow-content || true
            
            # 최신 이미지 Pull
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/meow-content:latest
            
            # 새 컨테이너 실행
            docker run -d --name meow-content -p 8000:8000 ${{ secrets.DOCKERHUB_USERNAME }}/meow-content:latest

